<section class="companies">
    <div class="site-container companies__inner">
        <span class="companies__label">Trusted By 250+ Companies</span>
        <ul class="companies__list">
            <li><img src="assets/images/zapier.webp" alt="Zapier"></li>
            <li><img src="assets/images/spotify.webp" alt="Spotify"></li>
            <li><img src="assets/images/zoom.webp" alt="Zoom"></li>
            <li><img src="assets/images/slack.webp" alt="Slack"></li>
            <li><img src="assets/images/amazon.webp" alt="Amazon"></li>
            <li><img src="assets/images/adobe.webp" alt="Adobe"></li>
        </ul>
    </div>
</section>
