<section class="faq">
    @@include('./_section_head.html', {
        "title": "Frequently Asked Questions",
        "text": "Still you have any questions? Contact our Team via hello@squareup.com"
    })
    <div class="site-container">
        <ul class="faq__list">
            <li class="faq__item faq__item--open"><span>01</span><div><h3>What services does SquareUp provide?</h3><p>SquareUp offers a range of services including design, engineering, and project management. We specialize in user experience design, web development, mobile app development, custom software development, branding and identity, and more.</p></div><button type="button">×</button></li>
            <li class="faq__item"><span>02</span><h3>How can SquareUp help my business?</h3><button type="button">+</button></li>
            <li class="faq__item"><span>03</span><h3>What industries does SquareUp work with?</h3><button type="button">+</button></li>
            <li class="faq__item"><span>04</span><h3>How long does it take to complete a project with SquareUp?</h3><button type="button">+</button></li>
            <li class="faq__item"><span>05</span><h3>Do you offer ongoing support and maintenance after the project is completed?</h3><button type="button">+</button></li>
            <li class="faq__item"><span>06</span><h3>Can you work with existing design or development frameworks?</h3><button type="button">+</button></li>
            <li class="faq__item"><span>07</span><h3>How involved will I be in the project development process?</h3><button type="button">+</button></li>
            <li class="faq__item"><span>08</span><h3>Can you help with website or app maintenance and updates?</h3><button type="button">+</button></li>
        </ul>
    </div>
</section>
