<footer class="footer">
    <div class="site-container">
        <div class="footer__top">
            @@include('./_logo_title.html')
            <nav class="footer-nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="servicesPages.html">Services</a></li>
                    <li><a href="worksPage.html">Work</a></li>
                    <li><a href="processPage.html">Process</a></li>
                    <li><a href="aboutPage.html">About</a></li>
                    <li><a href="careersPage.html">Careers</a></li>
                    <li><a href="contactPage.html">Contact</a></li>
                </ul>
            </nav>
            <div class="socials">
                <span>Stay Connected</span>
                <ul>
                    <li><a href="#"><img src="assets/icons/facebook.svg" alt=""></a></li>
                    <li><a href="#"><img src="assets/icons/twitter.svg" alt=""></a></li>
                    <li><a href="#"><img src="assets/icons/in.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <ul class="footer-contacts">
                <li><img src="assets/icons/mail.svg" alt=""> hello@squareup.com</li>
                <li><img src="assets/icons/phone.svg" alt=""> +91 91813 23 2309</li>
                <li><img src="assets/icons/place.svg" alt=""> Somewhere in the World</li>
            </ul>
            <p>© 2023 SquareUp. All rights reserved.</p>
        </div>
    </div>
</footer>
