<section class="hero">
    <div class="site-container hero__inner">
        <h1 class="hero__title">A Digital Product Studio that will Work</h1>
        <div class="hero__tags">
            <span>For</span>
            <ul>
                <li>Startups</li>
                <li>Enterprise leaders</li>
                <li>Media &amp; Publishers</li>
                <li>Social Good</li>
            </ul>
        </div>
        <div class="hero__actions">
            <a href="#works" class="button button--dark">Our Works</a>
            <a href="#contact" class="button button--accent">Contact Us</a>
        </div>
    </div>
</section>
