<nav class="nav">
    <ul class="nav__list">
        <li><a class="nav__link nav__link--home" href="index.html">Home</a></li>
        <li><a class="nav__link nav__link--services" href="servicesPages.html">Services</a></li>
        <li><a class="nav__link nav__link--work" href="worksPage.html">Work</a></li>
        <li><a class="nav__link nav__link--process" href="processPage.html">Process</a></li>
        <li><a class="nav__link nav__link--about" href="aboutPage.html">About</a></li>
        <li><a class="nav__link nav__link--careers" href="careersPage.html">Careers</a></li>
    </ul>
</nav>
