<section class="reviews">
    @@include('./_section_head.html', {
        "title": "What our Clients say About us",
        "text": "At Squareup, we take pride in delivering exceptional digital products and services that drive success for our clients."
    })
    <div class="site-container">
        <ul class="reviews__list">
            <li>
                <h3>SquareUp has been Instrumental in Transforming our Online Presence.</h3>
                <p>Their team's expertise in web development and design resulted in a visually stunning and user-friendly e-commerce platform.</p>
                <div class="person-card">
                    <div><img src="assets/icons/john-smith.svg" alt=""><strong>John Smith</strong><span>CEO of Chic Boutique</span></div>
                    <a href="#">Open Website</a>
                </div>
            </li>
            <li>
                <h3>Working with SquareUp was a breeze.</h3>
                <p>They understood our vision for a mobile app that streamlined our food delivery service and delivered beyond expectations.</p>
                <div class="person-card">
                    <div><img src="assets/icons/sarah-johnson.svg" alt=""><strong>Sarah Johnson</strong><span>Founder of HungryBites.</span></div>
                    <a href="#">Open Website</a>
                </div>
            </li>
            <li>
                <h3>SquareUp developed a comprehensive booking and reservation system for our event management company</h3>
                <p>Their attention to detail and commitment to delivering a user-friendly platform was evident throughout the project.</p>
                <div class="person-card">
                    <div><img src="assets/icons/mark-thompson.svg" alt=""><strong>Mark Thompson</strong><span>CEO of EventMasters</span></div>
                    <a href="#">Open Website</a>
                </div>
            </li>
            <li>
                <h3>ProTech Solutions turned to SquareUp to automate our workflow</h3>
                <p>They delivered an exceptional custom software solution. The system has significantly increased our productivity.</p>
                <div class="person-card">
                    <div><img src="assets/icons/laura-adams.svg" alt=""><strong>Laura Adams</strong><span>COO of ProTech Solutions.</span></div>
                    <a href="#">Open Website</a>
                </div>
            </li>
            <li>
                <h3>SquareUp designed and developed a captivating web portal for showcasing our real estate listings.</h3>
                <p>The platform is visually appealing and easy to navigate, allowing potential buyers to find their dream homes effortlessly.</p>
                <div class="person-card">
                    <div><img src="assets/icons/michael-anderson.svg" alt=""><strong>Michael Anderson</strong><span>Founder of Dream Homes Realty.</span></div>
                    <a href="#">Open Website</a>
                </div>
            </li>
            <li>
                <h3>FitLife Tracker wanted a mobile app that tracked fitness activities and provided personalized workout plans.</h3>
                <p>SquareUp's team developed an intuitive and feature-rich app that has helped our users stay motivated.</p>
                <div class="person-card">
                    <div><img src="assets/icons/emily-turner.svg" alt=""><strong>Emily Turner</strong><span>CEO of FitLife Tracker</span></div>
                    <a href="#">Open Website</a>
                </div>
            </li>
        </ul>
    </div>
</section>
