<section class="services-preview" id="services">
    @@include('./_section_head.html', {
        "title": "Our Services",
        "text": "Transform your brand with our innovative digital solutions that captivate and engage your audience."
    })
    <div class="site-container">
        <ul class="service-cards">
            <li class="service-card">
                <div class="icon-box icon-box--image"><img src="assets/icons/design.svg" alt=""></div>
                <h3>Design</h3>
                <p>At Squareup, our design team is passionate about creating stunning, user-centric designs that captivate your audience and elevate your brand.</p>
                <a href="servicesPages.html" class="button button--wide">Learn More</a>
            </li>
            <li class="service-card">
                <div class="icon-box icon-box--image"><img src="assets/icons/engineering.svg" alt=""></div>
                <h3>Engineering</h3>
                <p>Our engineering team combines technical expertise with a passion for innovation to build robust and scalable digital solutions.</p>
                <a href="servicesPages.html" class="button button--wide">Learn More</a>
            </li>
            <li class="service-card">
                <div class="icon-box icon-box--image"><img src="assets/icons/project-management.svg" alt=""></div>
                <h3>Project Management</h3>
                <p>Our experienced project management team ensures that your projects are delivered on time, within budget, and according to your specifications.</p>
                <a href="servicesPages.html" class="button button--wide">Learn More</a>
            </li>
        </ul>
    </div>
</section>
