<section class="why-choose">
    @@include('./_section_head.html', {
        "title": "Why Choose SquareUp?",
        "text": "Experience excellence in digital craftsmanship with our team of skilled professionals dedicated to delivering exceptional results."
    })
    <div class="site-container">
        <ul class="feature-grid">
            <li>
                <div class="feature-grid__title">
                    <div class="icon-box icon-box--image"><img src="assets/icons/expertise.svg" alt=""></div>
                    <h3>Expertise</h3>
                </div>
                <p>Our team consists of highly skilled professionals who have a deep understanding of the digital landscape. We stay updated with the latest industry trends and best practices.</p>
            </li>
            <li>
                <div class="feature-grid__title">
                    <div class="icon-box icon-box--image"><img src="assets/icons/client-centric-approach.svg" alt=""></div>
                    <h3>Client-Centric Approach</h3>
                </div>
                <p>We prioritize our clients and their unique needs. We listen to your ideas, challenges, and goals, and tailor our services to meet your specific requirements.</p>
            </li>
            <li>
                <div class="feature-grid__title">
                    <div class="icon-box icon-box--image"><img src="assets/icons/results-driven-solutions.svg" alt=""></div>
                    <h3>Results-Driven Solutions</h3>
                </div>
                <p>Our primary focus is on delivering results. We combine creativity and technical expertise to create digital products that drive business growth.</p>
            </li>
            <li>
                <div class="feature-grid__title">
                    <div class="icon-box icon-box--image"><img src="assets/icons/collaborative-partnership.svg" alt=""></div>
                    <h3>Collaborative Partnership</h3>
                </div>
                <p>We value long-term relationships with our clients. We see ourselves as your digital partner, providing ongoing support, maintenance, and updates.</p>
            </li>
        </ul>
    </div>
</section>
